basicauth==0.4.1
ckanapi==4.0
colorlog==3.0.1
email_validator==1.0.2
geonamescache==0.3.1
ndg-httpsclient==0.4.2
pyaml==17.8.0
pyasn1==0.3.2
pyOpenSSL==17.2.0
python-dateutil==2.6.1
requests==2.18.4
scraperwiki==0.5.1
six==1.10.0
tabulator==1.4.1
typing==3.6.2
